In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
url = "https://www-fars.nhtsa.dot.gov/Main/index.aspx"
r = requests.get(url)

In [3]:
print(r)

<Response [200]>

In [22]:
soup = bs(r.text)
table = soup.find('table', {'class': 'datatable01'})
columns = []
data = []

# Get the headers
headers = table.find_all('th')
for header in headers:
    print(header)
    columns.append(header.get_text())

# Get the rows
rows = table.find_all('tr')
for row in rows:
    cells = row.find_all('td')
    row_data = []
    for cell in cells:
        row_data.append(cell.get_text())
    if row_data:
        data.append(row_data)

#df = pd.DataFrame(data, columns=columns)
headers

<th id="hdrCol0" scope="col"><a href="javascript:__doPostBack('ctl00$PageContent$ctlTblTyp11MnHome1$rptrTableType11$ctl00$lnkWHeader','')" id="ctl00_PageContent_ctlTblTyp11MnHome1_rptrTableType11_ctl00_lnkWHeader" onclick="javascript:window.open('../Common/FileVersions.html','', 'width=400,height=500,scrollbars=0,menubar=0');return false;"></a></th>
<th id="hdrCol1" scope="col">2021 </th>
<th id="hdrCol2" scope="col">2020 </th>
<th id="hdrCol3" scope="col">2019 </th>
<th id="hdrCol4" scope="col">2018 </th>
<th id="hdrCol5" scope="col">2017 </th>
<th id="hdrCol6" scope="col">2016 </th>
<th id="hdrCol7" scope="col">2015 </th>
<th id="hdrCol8" scope="col">2014 </th>
<th id="hdrCol9" scope="col">2013 </th>
<th id="hdrCol10" scope="col">2012 </th>
<th id="hdrCol11" scope="col">2011 </th>
<th id="hdrCol12" scope="col">2010 </th>
<th id="hdrCol13" scope="col">2009 </th>
<th id="hdrCol14" scope="col">2008 </th>
<th id="hdrCol15" scope="col">2007 </th>
<th id="hdrCol16" scope="col">2006 </th>
<th id="hdrCol17" scope="col">2005 </th>
<th id="hdrCol18" scope="col">2004 </th>
<th id="hdrCol19" scope="col">2003 </th>
<th id="hdrCol20" scope="col">2002 </th>
<th id="hdrCol21" scope="col">2001 </th>
<th id="hdrCol22" scope="col">2000 </th>
<th id="hdrCol23" scope="col">1999 </th>
<th id="hdrCol24" scope="col">1998 </th>
<th id="hdrCol25" scope="col">1997 </th>
<th id="hdrCol26" scope="col">1996 </th>
<th id="hdrCol27" scope="col">1995 </th>
<th id="hdrCol28" scope="col">1994 </th>
<th class="firstcol03a" headers="hdrCol0" id="hdr0" scope="row"><b>Motor Vehicle Traffic Crashes</b></th>
<th class="firstcol03b" headers="hdr0 hdrCol0" id="hdr1" scope="row" style="padding-left:20px !important;">Fatal Crashes</th>
<th class="firstcol03a" headers="hdrCol0" id="hdr2" scope="row"><b>Traffic Crash Fatalities</b></th>
<th class="firstcol03a" headers="hdrCol0" id="hdr3" scope="row"><b>Vehicle Occupants</b></th>
<th class="firstcol03b" headers="hdr3 hdrCol0" id="hdr4" scope="row" style="padding-left:20px !important;">Drivers</th>
<th class="firstcol03b" headers="hdr3 hdrCol0" id="hdr5" scope="row" style="padding-left:20px !important;">Passengers</th>
<th class="firstcol03b" headers="hdr3 hdrCol0" id="hdr6" scope="row" style="padding-left:20px !important;">Unknown</th>
<th class="firstcol03b" headers="hdr3 hdrCol0" id="hdr7" scope="row" style="padding-left:20px !important;">Sub Total1</th>
<th class="firstcol03a" headers="hdrCol0" id="hdr8" scope="row"><b>  Motorcyclists</b></th>
<th class="firstcol03a" headers="hdrCol0" id="hdr9" scope="row"><b>  Nonmotorists</b></th>
<th class="firstcol03b" headers="hdr9 hdrCol0" id="hdr10" scope="row" style="padding-left:20px !important;">Pedestrians</th>
<th class="firstcol03b" headers="hdr9 hdrCol0" id="hdr11" scope="row" style="padding-left:20px !important;">Pedalcyclists</th>
<th class="firstcol03b" headers="hdr9 hdrCol0" id="hdr12" scope="row" style="padding-left:20px !important;">Other/ Unknown</th>
<th class="firstcol03b" headers="hdr9 hdrCol0" id="hdr13" scope="row" style="padding-left:20px !important;">Sub Total2</th>
<th class="firstcol03a" headers="hdrCol0" id="hdr14" scope="row"><b>Total*</b></th>
<th class="firstcol03a" headers="hdrCol0" id="hdr15" scope="row"><b>Other National Statistics</b></th>
<th class="firstcol03b" headers="hdr15 hdrCol0" id="hdr16" scope="row" style="padding-left:20px !important;">Vehicle Miles Traveled (Billions)</th>
<th class="firstcol03b" headers="hdr15 hdrCol0" id="hdr17" scope="row" style="padding-left:20px !important;">Resident Population (Thousands)</th>
<th class="firstcol03b" headers="hdr15 hdrCol0" id="hdr18" scope="row" style="padding-left:20px !important;">Registered Vehicles (Thousands)</th>
<th class="firstcol03b" headers="hdr15 hdrCol0" id="hdr19" scope="row" style="padding-left:20px !important;">Licensed Drivers (Thousands)</th>
<th class="firstcol03a" headers="hdrCol0" id="hdr20" scope="row"><b>National Rates: Fatalities</b></th>
<th class="firstcol03b" headers="hdr20 hdrCol0" id="hdr21" scope="row" style="padding-left:20px !important;">Fatalities per 100 Million Vehicle Miles Traveled</th>
<th class="firstcol03b" headers="hdr20 hdrCol0" id="hdr22" scope="row" style="padding-left:20px !important;">Fatalities per 100,000 Population</th>
<th class="firstcol03b" headers="hdr20 hdrCol0" id="hdr23" scope="row" style="padding-left:20px !important;">Fatalities per 100,000 Registered Vehicles</th>
<th class="firstcol03b" headers="hdr20 hdrCol0" id="hdr24" scope="row" style="padding-left:20px !important;">Fatalities per 100,000 Licensed Drivers</th>

[<th id="hdrCol0" scope="col"><a href="javascript:__doPostBack('ctl00$PageContent$ctlTblTyp11MnHome1$rptrTableType11$ctl00$lnkWHeader','')" id="ctl00_PageContent_ctlTblTyp11MnHome1_rptrTableType11_ctl00_lnkWHeader" onclick="javascript:window.open('../Common/FileVersions.html','', 'width=400,height=500,scrollbars=0,menubar=0');return false;"></a></th>,
 <th id="hdrCol1" scope="col">2021 </th>,
 <th id="hdrCol2" scope="col">2020 </th>,
 <th id="hdrCol3" scope="col">2019 </th>,
 <th id="hdrCol4" scope="col">2018 </th>,
 <th id="hdrCol5" scope="col">2017 </th>,
 <th id="hdrCol6" scope="col">2016 </th>,
 <th id="hdrCol7" scope="col">2015 </th>,
 <th id="hdrCol8" scope="col">2014 </th>,
 <th id="hdrCol9" scope="col">2013 </th>,
 <th id="hdrCol10" scope="col">2012 </th>,
 <th id="hdrCol11" scope="col">2011 </th>,
 <th id="hdrCol12" scope="col">2010 </th>,
 <th id="hdrCol13" scope="col">2009 </th>,
 <th id="hdrCol14" scope="col">2008 </th>,
 <th id="hdrCol15" scope="col">2007 </th>,
 <th id="hdrCol16" scope="col">2006 </th>,
 <th id="hdrCol17" scope="col">2005 </th>,
 <th id="hdrCol18" scope="col">2004 </th>,
 <th id="hdrCol19" scope="col">2003 </th>,
 <th id="hdrCol20" scope="col">2002 </th>,
 <th id="hdrCol21" scope="col">2001 </th>,
 <th id="hdrCol22" scope="col">2000 </th>,
 <th id="hdrCol23" scope="col">1999 </th>,
 <th id="hdrCol24" scope="col">1998 </th>,
 <th id="hdrCol25" scope="col">1997 </th>,
 <th id="hdrCol26" scope="col">1996 </th>,
 <th id="hdrCol27" scope="col">1995 </th>,
 <th id="hdrCol28" scope="col">1994 </th>,
 <th class="firstcol03a" headers="hdrCol0" id="hdr0" scope="row"><b>Motor Vehicle Traffic Crashes</b></th>,
 <th class="firstcol03b" headers="hdr0 hdrCol0" id="hdr1" scope="row" style="padding-left:20px !important;">Fatal Crashes</th>,
 <th class="firstcol03a" headers="hdrCol0" id="hdr2" scope="row"><b>Traffic Crash Fatalities</b></th>,
 <th class="firstcol03a" headers="hdrCol0" id="hdr3" scope="row"><b>Vehicle Occupants</b></th>,
 <th class="firstcol03b" headers="hdr3 hdrCol0" id="hdr4" scope="row" style="padding-left:20px !important;">Drivers</th>,
 <th class="firstcol03b" headers="hdr3 hdrCol0" id="hdr5" scope="row" style="padding-left:20px !important;">Passengers</th>,
 <th class="firstcol03b" headers="hdr3 hdrCol0" id="hdr6" scope="row" style="padding-left:20px !important;">Unknown</th>,
 <th class="firstcol03b" headers="hdr3 hdrCol0" id="hdr7" scope="row" style="padding-left:20px !important;">Sub Total1</th>,
 <th class="firstcol03a" headers="hdrCol0" id="hdr8" scope="row"><b>  Motorcyclists</b></th>,
 <th class="firstcol03a" headers="hdrCol0" id="hdr9" scope="row"><b>  Nonmotorists</b></th>,
 <th class="firstcol03b" headers="hdr9 hdrCol0" id="hdr10" scope="row" style="padding-left:20px !important;">Pedestrians</th>,
 <th class="firstcol03b" headers="hdr9 hdrCol0" id="hdr11" scope="row" style="padding-left:20px !important;">Pedalcyclists</th>,
 <th class="firstcol03b" headers="hdr9 hdrCol0" id="hdr12" scope="row" style="padding-left:20px !important;">Other/ Unknown</th>,
 <th class="firstcol03b" headers="hdr9 hdrCol0" id="hdr13" scope="row" style="padding-left:20px !important;">Sub Total2</th>,
 <th class="firstcol03a" headers="hdrCol0" id="hdr14" scope="row"><b>Total*</b></th>,
 <th class="firstcol03a" headers="hdrCol0" id="hdr15" scope="row"><b>Other National Statistics</b></th>,
 <th class="firstcol03b" headers="hdr15 hdrCol0" id="hdr16" scope="row" style="padding-left:20px !important;">Vehicle Miles Traveled (Billions)</th>,
 <th class="firstcol03b" headers="hdr15 hdrCol0" id="hdr17" scope="row" style="padding-left:20px !important;">Resident Population (Thousands)</th>,
 <th class="firstcol03b" headers="hdr15 hdrCol0" id="hdr18" scope="row" style="padding-left:20px !important;">Registered Vehicles (Thousands)</th>,
 <th class="firstcol03b" headers="hdr15 hdrCol0" id="hdr19" scope="row" style="padding-left:20px !important;">Licensed Drivers (Thousands)</th>,
 <th class="firstcol03a" headers="hdrCol0" id="hdr20" scope="row"><b>National Rates: Fatalities</b></th>,
 <th class="firstcol03b" headers="hdr20 hdrCol0" id="hdr21" scope="row" style="padding-left:20px !important;">Fatalities per 100 Million Vehicle Miles Traveled</th>,
 <th class="firstcol03b" headers="hdr20 hdrCol0" id="hdr22" scope="row" style="padding-left:20px !important;">Fatalities per 100,000 Population</th>,
 <th class="firstcol03b" headers="hdr20 hdrCol0" id="hdr23" scope="row" style="padding-left:20px !important;">Fatalities per 100,000 Registered Vehicles</th>,
 <th class="firstcol03b" headers="hdr20 hdrCol0" id="hdr24" scope="row" style="padding-left:20px !important;">Fatalities per 100,000 Licensed Drivers</th>]

[                                                   0
 0  New Vehicle Classification for 2020 and later ...,
                                                    0  \
 0  Did You Know?  View Archive  Large trucks acco...

                                                    1
 0  Did You Know?  View Archive  Large trucks acco...  ,
     0                1   2   3   4   5   6
 0 NaN  Skip Navigation NaN NaN NaN NaN NaN,
                                                    0  \
 0                                                NaN
 1  Did You Know?  View Archive  Large trucks acco...

                                                    1
 0                                                NaN
 1  Did You Know?  View Archive  Large trucks acco...  ,
                                                    0
 0  Did You Know?  View Archive  Large trucks acco...,
                                                    0  \
 0  Did You Know?  View Archive  Large trucks acco...

                                                    1
 0  National Statistics  2021 2020 2019 2018 2017 ...  ,
     0                                                  1   2
 0 NaN  Did You Know?  View Archive  Large trucks acco... NaN
 1 NaN                                                NaN NaN,
                                                    0
 0                                      Did You Know?
 1  View Archive  Large trucks accounted for 9.3 p...,
     0                                                  1   2
 0 NaN  National Statistics  2021 2020 2019 2018 2017 ... NaN
 1 NaN                                                NaN NaN,
                                                    0
 0                                National Statistics
 1  2021 2020 2019 2018 2017 2016 2015 2014 2013 2...
 2  * Total fatalities for 1996 include 2 fataliti...,
                                            Unnamed: 0       2021       2020  \
 0                       Motor Vehicle Traffic Crashes        NaN        NaN
 1                                       Fatal Crashes   39508.00   35935.00
 2                            Traffic Crash Fatalities        NaN        NaN
 3                                   Vehicle Occupants        NaN        NaN
 4                                             Drivers   21786.00   19661.00
 5                                          Passengers    6527.00    6014.00
 6                                             Unknown      45.00      56.00
 7                                          Sub Total1   28358.00   25731.00
 8                                       Motorcyclists    5932.00    5506.00
 9                                        Nonmotorists        NaN        NaN
 10                                        Pedestrians    7388.00    6565.00
 11                                      Pedalcyclists     966.00     948.00
 12                                     Other/ Unknown     295.00     257.00
 13                                         Sub Total2    8649.00    7770.00
 14                                             Total*   42939.00   39007.00
 15                          Other National Statistics        NaN        NaN
 16                  Vehicle Miles Traveled (Billions)    3132.00    2904.00
 17                    Resident Population (Thousands)  331894.00  331501.00
 18                    Registered Vehicles (Thousands)  302722.00  297101.00
 19                       Licensed Drivers (Thousands)  232782.00  228196.00
 20                         National Rates: Fatalities        NaN        NaN
 21  Fatalities per 100 Million Vehicle Miles Traveled       1.37       1.34
 22                  Fatalities per 100,000 Population      12.94      11.77
 23         Fatalities per 100,000 Registered Vehicles      14.18      13.13
 24            Fatalities per 100,000 Licensed Drivers      18.45      17.09

          2019       2018       2017       2016       2015       2014  \
 0         NaN        NaN        NaN        NaN        NaN        NaN
 1    33487.00   33919.00   34560.00   34748.00   32538.00   30056.00
 2         NaN        NaN        NaN        NaN        NaN        NaN
 3         NaN        NaN        NaN        NaN        NaN        NaN
 4    17984.00   18321.00   18819.00   18717.00   17615.00   16470.00
 5     5846.00    5962.00    6237.00    6485.00    6213.00    5766.00
 6       61.00      49.00      74.00      74.00      71.00      71.00
 7    23891.00   24332.00   25130.00   25276.00   23899.00   22307.00
 8     5044.00    5038.00    5226.00    5337.00    5029.00    4594.00
 9         NaN        NaN        NaN        NaN        NaN        NaN
 10    6272.00    6374.00    6075.00    6080.00    5494.00    4910.00
 11     859.00     871.00     806.00     853.00     829.00     729.00
 12     289.00     220.00     236.00     260.00     233.00     204.00
 13    7420.00    7465.00    7117.00    7193.00    6556.00    5843.00
 14   36355.00   36835.00   37473.00   37806.00   35484.00   32744.00
 15        NaN        NaN        NaN        NaN        NaN        NaN
 16    3262.00    3240.00    3210.00    3174.00    3090.00    3020.00
 17  328330.00  326838.00  325122.00  323072.00  320739.00  318386.00
 18  299267.00  297036.00  290336.00  288034.00  281312.00  274805.00
 19  228916.00  227558.00  225346.00  221712.00  218084.00  214092.00
 20        NaN        NaN        NaN        NaN        NaN        NaN
 21       1.11       1.14       1.17       1.19       1.15       1.08
 22      11.07      11.27      11.53      11.70      11.06      10.28
 23      12.15      12.40      12.91      13.13      12.61      11.92
 24      15.88      16.19      16.63      17.05      16.27      15.29

          2013  ...       2003       2002       2001       2000       1999  \
 0         NaN  ...        NaN        NaN        NaN        NaN        NaN
 1    30202.00  ...   38477.00   38491.00   37862.00   37526.00   37140.00
 2         NaN  ...        NaN        NaN        NaN        NaN        NaN
 3         NaN  ...        NaN        NaN        NaN        NaN        NaN
 4    16520.00  ...   23352.00   23625.00   22914.00   22914.00   22971.00
 5     5896.00  ...   10171.00   10370.00   10227.00   10451.00   10325.00
 6       67.00  ...     104.00     110.00     102.00      86.00      96.00
 7    22483.00  ...   33627.00   34105.00   33243.00   33451.00   33392.00
 8     4692.00  ...    3714.00    3270.00    3197.00    2897.00    2483.00
 9         NaN  ...        NaN        NaN        NaN        NaN        NaN
 10    4779.00  ...    4774.00    4851.00    4901.00    4763.00    4939.00
 11     749.00  ...     629.00     665.00     732.00     693.00     754.00
 12     190.00  ...     140.00     114.00     123.00     141.00     149.00
 13    5718.00  ...    5543.00    5630.00    5756.00    5597.00    5842.00
 14   32893.00  ...   42884.00   43005.00   42196.00   41945.00   41717.00
 15        NaN  ...        NaN        NaN        NaN        NaN        NaN
 16    2983.00  ...    2890.00    2856.00    2796.00    2747.00    2690.00
 17  316060.00  ...  290108.00  287625.00  284969.00  282162.00  272691.00
 18  269294.00  ...  230633.00  225685.00  221230.00  217028.00  212685.00
 19  212160.00  ...  196166.00  194602.00  191276.00  190625.00  187170.00
 20        NaN  ...        NaN        NaN        NaN        NaN        NaN
 21       1.10  ...       1.48       1.51       1.51       1.53       1.55
 22      10.41  ...      14.78      14.95      14.81      14.87      15.30
 23      12.21  ...      18.59      19.06      19.07      19.33      19.61
 24      15.50  ...      21.86      22.10      22.06      22.00      22.29

          1998       1997       1996       1995       1994
 0         NaN        NaN        NaN        NaN        NaN
 1    37107.00   37324.00   37494.00   37241.00   36254.00
 2         NaN        NaN        NaN        NaN        NaN
 3         NaN        NaN        NaN        NaN        NaN
 4    22654.00   22730.00   22572.00   22370.00   21596.00
 5    10327.00   10765.00   10860.00   10576.00   10294.00
 6      107.00     114.00     102.00     118.00     108.00
 7    33088.00   33609.00   33534.00   33064.00   31998.00
 8     2294.00    2116.00    2161.00    2227.00    2320.00
 9         NaN        NaN        NaN        NaN        NaN
 10    5228.00    5321.00    5449.00    5584.00    5489.00
 11     760.00     814.00     765.00     833.00     802.00
 12     131.00     153.00     154.00     109.00     107.00
 13    6119.00    6288.00    6368.00    6526.00    6398.00
 14   41501.00   42013.00   42065.00   41817.00   40716.00
 15        NaN        NaN        NaN        NaN        NaN
 16    2628.00    2552.00    2484.00    2423.00    2358.00
 17  270248.00  267784.00  265229.00  262803.00  260327.00
 18  208076.00  203568.00  201631.00  197065.00  192497.00
 19  184861.00  182709.00  179539.00  176628.00  175403.00
 20        NaN        NaN        NaN        NaN        NaN
 21       1.58       1.65       1.69       1.73       1.73
 22      15.36      15.69      15.86      15.91      15.64
 23      19.95      20.64      20.86      21.22      21.15
 24      22.45      22.99      23.43      23.68      23.21

 [25 rows x 29 columns]]

In [23]:
as_df = pd.read_csv('./airline-safety.csv')

In [25]:
as_df

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
0,Aer Lingus,3.209067e+08,2,0,0,0,0,0
1,Aeroflot*,1.197672e+09,76,14,128,6,1,88
2,Aerolineas Argentinas,3.858036e+08,6,0,0,1,0,0
3,Aeromexico*,5.968718e+08,3,1,64,5,0,0
4,Air Canada,1.865254e+09,2,0,0,2,0,0
5,Air France,3.004003e+09,14,4,79,6,2,337
6,Air India*,8.692536e+08,2,1,329,4,1,158
7,Air New Zealand*,7.101748e+08,3,0,0,5,1,7
8,Alaska Airlines*,9.653468e+08,5,0,0,5,1,88
9,Alitalia,6.980125e+08,7,2,50,4,0,0
10,All Nippon Airways,1.841234e+09,3,1,1,7,0,0
11,American*,5.228357e+09,21,5,101,17,3,416
12,Austrian Airlines,3.582398e+08,1,0,0,1,0,0
13,Avianca,3.969226e+08,5,3,323,0,0,0
14,British Airways*,3.179761e+09,4,0,0,6,0,0
15,Cathay Pacific*,2.582459e+09,0,0,0,2,0,0
16,China Airlines,8.132165e+08,12,6,535,2,1,225
17,Condor,4.179826e+08,2,1,16,0,0,0
18,COPA,5.504915e+08,3,1,47,0,0,0
19,Delta / Northwest*,6.525659e+09,24,12,407,24,2,51
20,Egyptair,5.576999e+08,8,3,282,4,1,14
21,El Al,3.354480e+08,1,1,4,1,0,0
22,Ethiopian Airlines,4.885606e+08,25,5,167,5,2,92
23,Finnair,5.064650e+08,1,0,0,0,0,0
24,Garuda Indonesia,6.133567e+08,10,3,260,4,2,22
25,Gulf Air,3.013798e+08,1,0,0,3,1,143
26,Hawaiian Airlines,4.938778e+08,0,0,0,1,0,0
27,Iberia,1.173203e+09,4,1,148,5,0,0
28,Japan Airlines,1.574218e+09,3,1,520,0,0,0
29,Kenya Airways,2.774148e+08,2,0,0,2,2,283
30,KLM*,1.874562e+09,7,1,3,1,0,0
31,Korean Air,1.734523e+09,12,5,425,1,0,0
32,LAN Airlines,1.001966e+09,3,2,21,0,0,0
33,Lufthansa*,3.426530e+09,6,1,2,3,0,0
34,Malaysia Airlines,1.039171e+09,3,1,34,3,2,537
35,Pakistan International,3.485631e+08,8,3,234,10,2,46
36,Philippine Airlines,4.130072e+08,7,4,74,2,1,1
37,Qantas*,1.917429e+09,1,0,0,5,0,0
38,Royal Air Maroc,2.957053e+08,5,3,51,3,0,0
39,SAS*,6.829719e+08,5,0,0,6,1,110
40,Saudi Arabian,8.596739e+08,7,2,313,11,0,0
41,Singapore Airlines,2.376858e+09,2,2,6,2,1,83
42,South African,6.515024e+08,2,1,159,1,0,0
43,Southwest Airlines,3.276526e+09,1,0,0,8,0,0
44,Sri Lankan / AirLanka,3.255830e+08,2,1,14,4,0,0
45,SWISS*,7.926013e+08,2,1,229,3,0,0
46,TACA,2.593733e+08,3,1,3,1,1,3
47,TAM,1.509196e+09,8,3,98,7,2,188
48,TAP - Air Portugal,6.191308e+08,0,0,0,0,0,0
49,Thai Airways,1.702802e+09,8,4,308,2,1,1
50,Turkish Airlines,1.946098e+09,8,3,64,8,2,84
51,United / Continental*,7.139291e+09,19,8,319,14,2,109
52,US Airways / America West*,2.455688e+09,16,7,224,11,2,23
53,Vietnam Airlines,6.250849e+08,7,3,171,1,0,0
54,Virgin Atlantic,1.005249e+09,1,0,0,0,0,0
55,Xiamen Airlines,4.304630e+08,9,1,82,2,0,0
56,NaN,NaN,402,122,6295,231,37,3109

In [33]:
as_df.sort_values(by='fatalities_00_14', ascending=False)

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
56,NaN,NaN,402,122,6295,231,37,3109
34,Malaysia Airlines,1.039171e+09,3,1,34,3,2,537
11,American*,5.228357e+09,21,5,101,17,3,416
5,Air France,3.004003e+09,14,4,79,6,2,337
29,Kenya Airways,2.774148e+08,2,0,0,2,2,283
16,China Airlines,8.132165e+08,12,6,535,2,1,225
47,TAM,1.509196e+09,8,3,98,7,2,188
6,Air India*,8.692536e+08,2,1,329,4,1,158
25,Gulf Air,3.013798e+08,1,0,0,3,1,143
39,SAS*,6.829719e+08,5,0,0,6,1,110
51,United / Continental*,7.139291e+09,19,8,319,14,2,109
22,Ethiopian Airlines,4.885606e+08,25,5,167,5,2,92
1,Aeroflot*,1.197672e+09,76,14,128,6,1,88
8,Alaska Airlines*,9.653468e+08,5,0,0,5,1,88
50,Turkish Airlines,1.946098e+09,8,3,64,8,2,84
41,Singapore Airlines,2.376858e+09,2,2,6,2,1,83
19,Delta / Northwest*,6.525659e+09,24,12,407,24,2,51
35,Pakistan International,3.485631e+08,8,3,234,10,2,46
52,US Airways / America West*,2.455688e+09,16,7,224,11,2,23
24,Garuda Indonesia,6.133567e+08,10,3,260,4,2,22
20,Egyptair,5.576999e+08,8,3,282,4,1,14
7,Air New Zealand*,7.101748e+08,3,0,0,5,1,7
46,TACA,2.593733e+08,3,1,3,1,1,3
49,Thai Airways,1.702802e+09,8,4,308,2,1,1
36,Philippine Airlines,4.130072e+08,7,4,74,2,1,1
43,Southwest Airlines,3.276526e+09,1,0,0,8,0,0
42,South African,6.515024e+08,2,1,159,1,0,0
48,TAP - Air Portugal,6.191308e+08,0,0,0,0,0,0
44,Sri Lankan / AirLanka,3.255830e+08,2,1,14,4,0,0
53,Vietnam Airlines,6.250849e+08,7,3,171,1,0,0
40,Saudi Arabian,8.596739e+08,7,2,313,11,0,0
54,Virgin Atlantic,1.005249e+09,1,0,0,0,0,0
38,Royal Air Maroc,2.957053e+08,5,3,51,3,0,0
37,Qantas*,1.917429e+09,1,0,0,5,0,0
55,Xiamen Airlines,4.304630e+08,9,1,82,2,0,0
45,SWISS*,7.926013e+08,2,1,229,3,0,0
0,Aer Lingus,3.209067e+08,2,0,0,0,0,0
33,Lufthansa*,3.426530e+09,6,1,2,3,0,0
32,LAN Airlines,1.001966e+09,3,2,21,0,0,0
2,Aerolineas Argentinas,3.858036e+08,6,0,0,1,0,0
3,Aeromexico*,5.968718e+08,3,1,64,5,0,0
4,Air Canada,1.865254e+09,2,0,0,2,0,0
9,Alitalia,6.980125e+08,7,2,50,4,0,0
10,All Nippon Airways,1.841234e+09,3,1,1,7,0,0
12,Austrian Airlines,3.582398e+08,1,0,0,1,0,0
13,Avianca,3.969226e+08,5,3,323,0,0,0
14,British Airways*,3.179761e+09,4,0,0,6,0,0
15,Cathay Pacific*,2.582459e+09,0,0,0,2,0,0
17,Condor,4.179826e+08,2,1,16,0,0,0
18,COPA,5.504915e+08,3,1,47,0,0,0
21,El Al,3.354480e+08,1,1,4,1,0,0
23,Finnair,5.064650e+08,1,0,0,0,0,0
26,Hawaiian Airlines,4.938778e+08,0,0,0,1,0,0
27,Iberia,1.173203e+09,4,1,148,5,0,0
30,KLM*,1.874562e+09,7,1,3,1,0,0
31,Korean Air,1.734523e+09,12,5,425,1,0,0
28,Japan Airlines,1.574218e+09,3,1,520,0,0,0

In [30]:
as_df.columns

Index(['airline', 'avail_seat_km_per_week', 'incidents_85_99',
       'fatal_accidents_85_99', 'fatalities_85_99', 'incidents_00_14',
       'fatal_accidents_00_14', 'fatalities_00_14'],
      dtype='object')